{ "Reports":
[
 	{
  		"ReportName" : "CLIENT REPORT 3",
 		"ReportImage": "Report-folder-blank.png",
     	"ReportTemplatePackage": "C-Template3",
      	"ReportDescription":"By Location, by System - Displays Package Name, image, description, Total room pricing - no unit pricing",
        "visiblilityRule":"TOTAL_PRICE_CHECK",
        "ReportType": "CLIENT",
        "ReportTypeImage": "Reports folder.png"
	}
]}