.logo_space{
	width:25%;
}
.company_details_text{
	width:53%;
}
.comment{
	font-size:12px;
}
.main_body_div{
	margin:0% 25%;
}
.main_body_div div{
	position:relative;
}
.main_body_div p,.main_body_div label{
	font-size:13px;
	margin-top:0px;
	margin-bottom:0px;
}
#agreement_date_and_year_span{
	
}
#agreement_date_and_year_field{
	width:40%;
}
#company_name_field{
	width:65%;
}
#subscriber_name_field{
	width:65.3%;
	margin-left: 1.3px;
}
#address_field{
	width:65.6%;
	background:#eaeaff;
	resize:none;
	height:auto;
}
#city_field{
	width:18.5%;
	margin-right:8px;
}
#prov_field{
	margin-left:5px;
	width:20%;
}
#postal_code_field{
	width:16%;

}
#email_field{
	width: 45%;

}
#station_code_field{
	width:15%;
}
#signature_div h4{
	margin-bottom:1px;
	text-align:center;
}
#subscriber_signature_div{
	width:auto;
	display:inline;
	position:absolute;
}
#subscriber_signature_field{
	width:300px;
	padding:2px;
	height:80px;
    border-bottom:solid black;
    border-width:1px;
    z-index:2;
    position:absolute;
    min-width:300px;
    left:0px;
    float:left;
}
#company_signature_div{
	width:auto;
	display:inline;
	position:absolute;
	right:0px;
}
#company_signature_field{
	width:300px;
	padding:2px;
	height:80px;
    border-bottom:solid black;
    border-width:1px;
    z-index:2;
    position:absolute;
    min-width:300px;
    left:0px;
    float:left;
}
#outer{
    position:relative;
    display:inline-block;
    height:80px;
    width:100%;
    min-width:300px;
    border-bottom:solid black;
    border-width:1px;
}
center{
    height:80px;
    width:100%;
    min-width:300px;
    border-bottom:solid black;
    border-width:1px;
    position:absolute;
}
.center p {
    width:100%;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  text-align:center;
  color:white;
  z-index:-1;
}
@media (max-width:1100px){
	.main_body_div{
		margin:0% 2%;
	}
}

@media print{
	body{margin:0px;padding:0px;}
	.logo_space{
		width:7%;
		padding:.5%;
	}
	.company_details_text{
		width:85%;
	}
	.main_body_div{
		padding:0px 5px;
		margin:0% 4%;
	}
	.main_body_div p,.main_body_div label{
		font-size:13px;
		margin-top:0px;
		margin-bottom:0px;
	}
	#pc_field{
		width:14%;
	}
	#subscriber_signature_div .kbw-signature,#company_signature_div .kbw-signature{
			border-bottom:0px solid;
	}
    
	#city_field{
		margin-right:-5px;
	}
	#prov_field{
		width:10%;
		margin-right:5px;
	}
}
