	body {
		width : 100%;
		margin : 0px;
		padding : 0px;
		font-size : 13px;
		
		width : 50%;
		margin : auto;
	}
	input[type=text]{
		font-size : 14px;
	}
	.font_12{
		font-size : 12px;
	}
	.small_font{
		font-size : 10px;
	}
	.company_name_div{
		
	}
	/* .outer{ */
    /* min-width:50px; */
    /* height:40px; */
    /* width:50px; */
    /* position:absolute; */
    /* border-bottom:solid black; */
    /* border-width: 1px; */
	/* } */
	.inner{
    min-width : 30px;
    min-height:20px;
    height: 40px;
    width:30px;
    position:absolute;
    z-index: -2;
    display:inline-block;
    text-align:center;
    vertical-align:middle;
	}
	.docusignTag{
	/*background-color: green;*/
    display:block;
    position:relative;
    color:white;
    vertical-align:bottom;
    width:30px;
    height:10px;
    z-index: -1;
    text-align:center;
    vertical-align:middle;
    /* top:50%; */
    transform: translateY(-30px);
	/* transform: translateX(20px); */
	}
	#logo_container{
		top : 0px;
	} 
	
	#page_7 .header{
		height : 65px;
	}
	#page_7 .header img{
		position : absolute;
		height : 60px;
		top : 0px;
	}
	#page_7 #job_address_div{
		width : 55%;
		float : right;
		text-align : right;
	}
	#page_7 #job_address_2{
		width : 65%;
		text-align : left;
	}
	#page_7 #last_row{
		font-size : 15px;
		text-align : center;
	}
	#page_7 #last_row .col {
		width : auto;
		text-align : left;
		padding : 0px 10px;
	}
	#wiring1{
		width:100%;
	}
	#wiring2{
		width:100%;
	}
	.company_name{
		font-size : 13px;
		color : #333 !important;
	}
@media print{ 
	body {
		width : 100%;
		margin : 0px;
		padding : 0px;
		font-size : 13px;
	}
	.page_break{page-break-after: always;}
}
