{ "Reports":
[
 	{
  		"ReportName" : "CLIENT REPORT 2",
 		"ReportImage": "Report-folder-blank.png",
     	"ReportTemplatePackage": "C-Template2",
      	"ReportDescription":"By Location, by System - Displays Icon image, description, QTY, unit pricing, Total Price",
        "visiblilityRule":"TOTAL_PRICE_CHECK",
        "ReportType": "CLIENT",
        "ReportTypeImage": "Reports folder.png"
	}
]}